body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: rgb(55, 133, 235);
    height: 100px;
    color: white;
    border-bottom: 3px solid black;
}



.navbar{
    
    width: 40%;
}

.container {
    border: 3px solid black;
 
    width: 100%;
}

.infos {
    text-align: center;
    font-weight: 700;

    
}
.main-container {
    display: flex;
  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    
}
.card {
    border-radius: 3px;
    width: 15rem;
    height: 20rem;
    
}
.day {
    background-color: blue;
    color: white;
}



i {
    font-size: 400%;
    text-align: center;
    margin: auto;
}