body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: rgb(55, 133, 235);
    height: 100px;
    color: white;
    border-bottom: 3px solid black;
}



.navbar{
    
    width: 40%;
}

.container {
    border: 3px solid black;
 
    width: 100%;
}