body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #02395C;
}

.header {
    text-align: center;
    background-color: rgb(38, 52, 71);
    height: 200px;
    color: white;
    border-bottom: 3px solid black;
}



nav{
    width: 70%;
    margin: 2% auto;
    
}


.container-fluid {
    text-align: center;
}


.container {
    border: 3px solid black;
 
    width: 100%;
}

.infos {
    text-align: center;
    font-weight: 700;

    
}
.main-container {
    display: flex;
  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    
}
.card {
    margin: 3%;
    width: 15rem;
    height: 15rem;
    
}
.day {
    background-color: rgb(199, 147, 51);
    color: white;
}



i {
    font-size: 400%;
    text-align: center;
    margin: auto;
}
#current-date {
    margin: 5%;
}